<!DOCTYPE html>
@Html.AntiForgeryToken();
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">



    @*<div style="background-color:#893030" width 100%; height:100%;">*@
    @*<div style="background-color:#642EFE" width 100%; height:100%;"> *@

    @*<div style="background-image:url(../../Content/Image/HelpDesk6.jpg)" width:30%; height:30%;">*@

</head>
<body style="background:#893030">
    <div style="background-color:#893030" width 100%; height:100%;">

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <div>
                    <a href="/Windows/Principal"><img src="~/Content/Image/Logo2.jpg" height="50" width="50" /></a>

                    <ul class="nav navbar-nav navbar-right">
                        <a href="/Home/Edit"><img src="~/Content/Image/Figura_Login.PNG" height="50" width="50" /></a>
                    </ul>
                </div>
                <ul class="nav navbar-nav">
                    @*<li class="active"><a href="#">Home</a></li>*@
                    <li class="dropdown">

                    </li>
                </ul>

            </div>
        </div>
    </div>

    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Nome do aplicativo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Início", "Index", "Home")</li>
                        <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                        <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>*@


    @*Menu Original*@

    @*<div class="navbar-wrapper">
            <div class="container-fluid">
                <nav class="navbar navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                                <span class="sr-only">toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">logo</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#" class="">home</a></li>
                                <li class=" dropdown">
                                    <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">departments <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">view departments</a>
                                        </li>
                                        <li><a href="#">add new</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">add new</a></li>
                                <li class=" dropdown">
                                    <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">managers <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">view managers</a></li>
                                        <li><a href="#">add new</a></li>
                                    </ul>
                                </li>
                                <li class=" dropdown">
                                    <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">staff <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">view staff</a></li>
                                        <li><a href="#">add new</a></li>
                                        <li><a href="#">bulk upload</a></li>
                                    </ul>
                                </li>
                                <li class=" down">
                                    <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">hr <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">change time entry</a></li>
                                        <li><a href="#">report</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav pull-right">
                                <li class=" dropdown">
                                    <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">signed in as  <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">change password</a></li>
                                        <li><a href="#">my profile</a></li>
                                    </ul>
                                </li>
                                <li class=""><a href="#">logout</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <br />*@

    @*Fim do Menu Original*@

    @*<div class="container">
            <div class="row">
                <div class="col-xs-push-6 col-xs-offset-9">
                    <div class="input-group">
                        <input type="hidden" name="search_param" value="all" id="search_param">
                        <input type="text" class="form-control" name="x" placeholder="search term...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>*@





    <div class="container body-content">
        <div id="main">
            @RenderBody()
        </div>
        <hr />
        <footer style="text-align:end">
            @*<p>&copy; @DateTime.Now.Year</p>*@
            <p>Service Help Desk</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
</div>