
@{
    ViewBag.Title = "Acompanhe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="color:black">
    <h2>Acompanhe</h2>

    <br />
    <div style="font-size:18px">
        <p>Responsável:<label>@ViewBag.Title</label>  @*<input type="text" readonly="true" name="Resp" value="@ViewBag.Title" size="30" /><br />*@</p>
        <p>CPF:<label>@ViewBag.Title</label>  @*<input type="text" readonly="true" name="CPF" value="@ViewBag.Title" size="30" />*@</p>
    </div>

    <div style="font-size:18px">
        <p>Equipamento:<label>@ViewBag.Title</label> @*<input type="text" readonly="true" name="Equip" value="@ViewBag.Title" size="30" />*@</p>
    </div>

    <div style="font-size:18px">
        <p>Data de Entrada:<label>@ViewBag.Title</label>  @*<input type="text" readonly="true" name="date" value="@ViewBag.Title" size="30" /><br />*@</p>
        <p>Status:<label>@ViewBag.Title</label> @*<input type="text" readonly="true" name="date" value="@ViewBag.Title" size="30" />*@</p>
    </div>
</div>

